# 1차 목표: Training Loss를 0에 가깝도록 만드는 것을 목표로 한다.

prediction_dropout_batch_norm.ipynb

- Training Data : 1400 개, Test Data: 60개
(CoLab) 1000 Epoch: Save model Epoch 926 Train Loss :   541813394.5454545 Test Loss :   597294608.0

(PC)    1000 Epoch: Save model Epoch 981 Train Loss :   550592724.3636364 Test Loss :   680071296.0

(CoLab) 5000 Epoch: Save model Epoch 4912 Train Loss:   367432232.72727275 Test Loss :  408124000.0

(PC)   10000 Epoch: Save model Epoch 9528 Train Loss :  323177496.1818182  Test Loss :  563202224.0

