# 1차 목표: Training Loss를 0에 가깝도록 만드는 것을 목표로 한다.

